<div>
    <h1>Weather App</h1>
    <input [(ngModel)]="city" placeholder="Ingresa una ciudad" />
    <button (click)="getWeather()">Obtener Clima</button>
  
    <div *ngIf="weatherData">
      <h2>{{ weatherData.name }}</h2>
      <p>Temperatura: {{ weatherData.main.temp }}°C</p>
      <p>Humedad: {{ weatherData.main.humidity }}%</p>
      <p>{{ weatherData.weather[0].description }}</p>
      <img [src]="'http://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '@2x.png'" alt="Weather icon">
    </div>
  
    <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
  </div>