<div class="app-container">
  <h1 class="app-title">Weather App</h1>

  <!-- Contenedor de entradas para las ciudades -->
  <div class="input-container">
    <!-- Entrada para la primera ciudad con autocompletado -->
    <mat-form-field appearance="fill" class="city-input">
      <input
        type="text"
        matInput
        [formControl]="city1Control"
        [matAutocomplete]="autoCity1"
        placeholder="Selecciona la primera ciudad"
      />
      <mat-autocomplete #autoCity1="matAutocomplete" (optionSelected)="onCitySelected($event, 'city1')">
        <mat-option *ngFor="let city of filteredCities1 | async" [value]="city">
          {{ city.name }} ({{ city.country }})
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button class="weather-button" (click)="getWeather1()">Obtener Clima</button>

    <!-- Entrada para la segunda ciudad con autocompletado -->
    <mat-form-field appearance="fill" class="city-input">
      <input
        type="text"
        matInput
        [formControl]="city2Control"
        [matAutocomplete]="autoCity2"
        placeholder="Selecciona la segunda ciudad"
      />
      <mat-autocomplete #autoCity2="matAutocomplete" (optionSelected)="onCitySelected($event, 'city2')">
        <mat-option *ngFor="let city of filteredCities2 | async" [value]="city">
          {{ city.name }} ({{ city.country }})
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button class="weather-button" (click)="getWeather2()">Obtener Clima</button>
  </div>

  <!-- Selector de unidad de medida -->
  <div class="unit-selector">
    <label class="unit-label">
      <input type="radio" [(ngModel)]="unit" value="metric" (change)="updateWeatherUnits()" /> Celsius / km/h
    </label>
    <label class="unit-label">
      <input type="radio" [(ngModel)]="unit" value="imperial" (change)="updateWeatherUnits()" /> Fahrenheit / mph
    </label>
  </div>

  <!-- Contenedor de ciudades -->
  <div class="weather-container">
    <!-- Datos del clima de la primera ciudad -->
    <div class="weather-box center" *ngIf="weatherData1" [ngStyle]="{'background-image': getBackground(weatherData1.weather[0].main)}">
      <div class="weather-card">
        <h2 class="city-name">{{ weatherData1.name }}</h2>
        <p class="weather-info">Temperatura: {{ weatherData1.main.temp }} {{ unit === 'metric' ? '°C' : '°F' }}</p>
        <p class="weather-info">Humedad: {{ weatherData1.main.humidity }}%</p>
        <p class="weather-info">Presión: {{ weatherData1.main.pressure }} hPa</p>
        <p class="weather-info">Viento: {{ weatherData1.wind.speed }} {{ unit === 'metric' ? 'km/h' : 'mph' }}</p>
        <p class="weather-description">{{ weatherData1.weather[0].description }}</p>
        <img class="weather-icon" [src]="'http://openweathermap.org/img/wn/' + weatherData1.weather[0].icon + '@2x.png'" alt="Weather icon">
      </div>
    </div>
    <p class="error-message" *ngIf="errorMessage1">{{ errorMessage1 }}</p>

    <!-- Datos del clima de la segunda ciudad -->
    <div class="weather-box center" *ngIf="weatherData2" [ngStyle]="{'background-image': getBackground(weatherData2.weather[0].main)}">
      <div class="weather-card">
        <h2 class="city-name">{{ weatherData2.name }}</h2>
        <p class="weather-info">Temperatura: {{ weatherData2.main.temp }} {{ unit === 'metric' ? '°C' : '°F' }}</p>
        <p class="weather-info">Humedad: {{ weatherData2.main.humidity }}%</p>
        <p class="weather-info">Presión: {{ weatherData2.main.pressure }} hPa</p>
        <p class="weather-info">Viento: {{ weatherData2.wind.speed }} {{ unit === 'metric' ? 'km/h' : 'mph' }}</p>
        <p class="weather-description">{{ weatherData2.weather[0].description }}</p>
        <img class="weather-icon" [src]="'http://openweathermap.org/img/wn/' + weatherData2.weather[0].icon + '@2x.png'" alt="Weather icon">
      </div>
    </div>
    <p class="error-message" *ngIf="errorMessage2">{{ errorMessage2 }}</p>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <p class="footer-text">Desarrollado por <strong>EMGAFO</strong> | Datos de OpenWeatherMap</p>
  </footer>
</div>